@import "variables";
@import "vendor/jeet/index";
@import "core/**";
@import "component/**";

.hello-world{
    color:red;
}

.email-form{
    width:50%;
    @extend %center;
}

.no-margin{
    margin:0;
}
p{
    padding:0;
}