/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: jeet(gutter))
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: jeet(gutter))
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* line 2, ../../server/sass/core/_layout.scss */
.row-of-1 {
  *zoom: 1;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-1:before, .row-of-1:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-1:after {
  clear: both;
}
/* line 5, ../../server/sass/core/_layout.scss */
.row-of-1 > * {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-1 > *:before, .row-of-1 > *:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-1 > *:after {
  clear: both;
}
/* line 49, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-1 > *:last-child {
  margin-right: 0%;
}

/* line 2, ../../server/sass/core/_layout.scss */
.row-of-2 {
  *zoom: 1;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-2:before, .row-of-2:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-2:after {
  clear: both;
}
/* line 5, ../../server/sass/core/_layout.scss */
.row-of-2 > * {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-2 > *:before, .row-of-2 > *:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-2 > *:after {
  clear: both;
}
/* line 49, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-2 > *:last-child {
  margin-right: 0%;
}

/* line 2, ../../server/sass/core/_layout.scss */
.row-of-3 {
  *zoom: 1;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-3:before, .row-of-3:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-3:after {
  clear: both;
}
/* line 5, ../../server/sass/core/_layout.scss */
.row-of-3 > * {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-3 > *:before, .row-of-3 > *:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-3 > *:after {
  clear: both;
}
/* line 49, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-3 > *:last-child {
  margin-right: 0%;
}

/* line 2, ../../server/sass/core/_layout.scss */
.row-of-4 {
  *zoom: 1;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-4:before, .row-of-4:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-4:after {
  clear: both;
}
/* line 5, ../../server/sass/core/_layout.scss */
.row-of-4 > * {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-4 > *:before, .row-of-4 > *:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-4 > *:after {
  clear: both;
}
/* line 49, ../../server/sass/vendor/jeet/_grid.scss */
.row-of-4 > *:last-child {
  margin-right: 0%;
}

/* line 14, ../../server/sass/core/_layout.scss */
.push-top, .push-top-list > * {
  margin-top: 20px;
}

/* line 24, ../../server/sass/core/_layout.scss */
.pad-top {
  padding-top: 20px;
}

/* line 14, ../../server/sass/core/_layout.scss */
.push-bottom, .push-bottom-list > * {
  margin-bottom: 20px;
}

/* line 24, ../../server/sass/core/_layout.scss */
.pad-bottom {
  padding-bottom: 20px;
}

/* line 14, ../../server/sass/core/_layout.scss */
.push-left, .push-left-list > * {
  margin-left: 20px;
}

/* line 24, ../../server/sass/core/_layout.scss */
.pad-left {
  padding-left: 20px;
}

/* line 14, ../../server/sass/core/_layout.scss */
.push-right, .push-right-list > * {
  margin-right: 20px;
}

/* line 24, ../../server/sass/core/_layout.scss */
.pad-right {
  padding-right: 20px;
}

/* line 30, ../../server/sass/core/_layout.scss */
.inline > * {
  display: inline-block;
}

/* line 35, ../../server/sass/core/_layout.scss */
.side, .left-col, .right-col {
  float: left;
  position: relative;
}

/* line 40, ../../server/sass/core/_layout.scss */
.left-col {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 66.66667%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.left-col:before, .left-col:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.left-col:after {
  clear: both;
}

/* line 45, ../../server/sass/core/_layout.scss */
.right-col {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.right-col:before, .right-col:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.right-col:after {
  clear: both;
}

/* line 50, ../../server/sass/core/_layout.scss */
.email-form {
  margin: 0 auto;
}

/* line 54, ../../server/sass/core/_layout.scss */
.inner-wrapper-8 {
  max-width: 80%;
  margin: 0 auto;
}

/* line 59, ../../server/sass/core/_layout.scss */
.inner-wrapper {
  max-width: 70%;
  margin: 0 auto;
}

/* line 1, ../../server/sass/core/_theme.scss */
.theme-blue {
  background-color: #147e9e;
  color: white;
}

/* line 3, ../../server/sass/core/_typography.scss */
.top-heading h1 {
  font-size: 7em;
  font-family: "Alice";
}
/* line 7, ../../server/sass/core/_typography.scss */
.top-heading h2 {
  font-size: 2.2em;
}

/* line 12, ../../server/sass/core/_typography.scss */
.text-muted {
  color: #eeeeee;
}

/* line 1, ../../server/sass/component/_queue.scss */
.queue-container {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  z-index: 100;
  padding: 10px 20px;
}

/* line 9, ../../server/sass/component/_queue.scss */
.queue-border {
  border-left: 1px solid #0e5a71;
}

/* line 12, ../../server/sass/component/_queue.scss */
.queue-item {
  padding: 5px 20px;
  border-top: 1px solid #137795;
}
/* line 16, ../../server/sass/component/_queue.scss */
.queue-item:first-child {
  padding-top: 0;
  border-top: 0;
}

/* line 21, ../../server/sass/component/_queue.scss */
.queue-item-search {
  border-radius: 0;
  height: 40px;
}

/* line 26, ../../server/sass/component/_queue.scss */
.user-profile {
  position: absolute;
  bottom: 0;
}
/* line 29, ../../server/sass/component/_queue.scss */
.user-profile i {
  font-size: 1.5em;
}

/* line 1, ../../server/sass/component/_song-display.scss */
.song-display {
  background-color: #34b44a;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  z-index: 200;
  *zoom: 1;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.song-display:before, .song-display:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.song-display:after {
  clear: both;
}

/* line 11, ../../server/sass/component/_song-display.scss */
.now-playing-area {
  padding-left: 25px;
  padding-top: 5px;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.now-playing-area:before, .now-playing-area:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.now-playing-area:after {
  clear: both;
}
/* line 49, ../../server/sass/vendor/jeet/_grid.scss */
.now-playing-area:last-child {
  margin-right: 0%;
}

/* line 17, ../../server/sass/component/_song-display.scss */
.up-next-area {
  background-color: #2ea042;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  padding-top: 7px;
  padding-left: 10px;
}
/* line 197, ../../server/sass/vendor/jeet/_grid.scss */
.up-next-area:before, .up-next-area:after {
  content: '';
  display: table;
}
/* line 201, ../../server/sass/vendor/jeet/_grid.scss */
.up-next-area:after {
  clear: both;
}
/* line 49, ../../server/sass/vendor/jeet/_grid.scss */
.up-next-area:last-child {
  margin-right: 0%;
}

/* line 24, ../../server/sass/component/_song-display.scss */
.play-button {
  font-size: 3em;
  padding: 0 25px;
}

/* line 29, ../../server/sass/component/_song-display.scss */
.now-playing-area h2, .now-playing-area h3, .now-playing-area h4 {
  margin: 0;
}

/* line 6, ../../server/sass/main.scss */
.hello-world {
  color: red;
}

/* line 10, ../../server/sass/main.scss */
.email-form {
  width: 50%;
}

/* line 15, ../../server/sass/main.scss */
.no-margin {
  margin: 0;
}

/* line 18, ../../server/sass/main.scss */
p {
  padding: 0;
}
