*
{
	margin: 0px;
}

html
{
	width: 100%;
	height: 100%;
	
	font-size: 18px;
	font-family: open-sans, calibri, sans-serif;
}

body
{
	width: 100%;
	height: 100%;
}

/*
	This is where the party happens! The
	youtube video is embedded here in an
	iframe, which we stretch to fill all
	of the window.
*/

#party
{
	width: 100%;
	height: 100%;
	
	background-color: #222;
}

#party > iframe
{
	width: 100%;
	height: 100%;
	
	border: none;
}

/*
	This is how more videos can be added
	to the party. At the moment, it only
	provides a form for copying a URL.
*/

#queue
{
	padding: 1rem;
	
	background-color: #EEE;
}

#queue > input
{
	width: 100%;
	padding: 0.25rem;
	box-sizing: border-box;
	
	font: inherit;
}